*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    align-items: center;
}

.weather-form{
    align-self: center;
    margin-top: 100px;   
}

.input-box, button{
    font-size: 25px;
    border-radius: 20px;
    padding: 10px;
}

button{
    cursor: pointer;
}

.card{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 20px;
    gap: 10px;
    background: linear-gradient(185deg, hsl(208, 88%, 60%), hsla(39, 100%, 50%, 0.855));
    width: fit-content;
    text-align: center;
    border-radius: 10px;
}

.city-name{
    font-size: 70px;
    padding: 20px;
    color: rgb(174, 217, 255);
}

.temp-display{
    font-size: 30px;
    font-weight: 700;
}

.humid-display{
    font-size: 25px;
    margin: 10px 0;
}

.weather-desc{
    font-size: 30px;
    font-style: italic;
}

.weather-emoji{
    font-size: 100px;
}

.error-display{
    margin-bottom: 20px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
